html,
body {
  background-color: #222;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

@font-face {
  font-family: 'Fugaz One';
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/FugazOne-Regular.ttf);
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100%;
}

.grid {
  display: flex;
  flex-direction: column;
}

.line {
  width: 100%;
  display: flex;
}

.cell {
  width: 2.5em;
  height: 2.5em;
  border-radius: 4px;
}

.keyboard li,
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
  border: 6px solid rgb(78, 78, 78);
  font-size: 2.5em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.keyboard li {
  font-size: 20px;
  padding: 7px;
  background-color: #363636;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 2em;
  height: 2em;
}

.keyboard {
  margin: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

pre {
  background: #e91e63;
  padding: 10px;
  width: 220px;
  border-radius: 4px;
  text-align: center;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.gray {
  background-color: #363636;
}
.lightGray {
  background-color: #444;
}
.yellow {
  background-color: #aa9f00;
}
.green {
  background-color: #43aa13;
}

/*************** Animation *******************/
.shake {
  animation: shake 250ms ease-in-out;
}

@keyframes shake {
  10%,
  90% {
    transform: translateX(-1px);
  }
  20%,
  80% {
    transform: translateX(2px);
  }
  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }
  40%,
  60% {
    transform: translateX(4px);
  }
}

.flip {
  animation: flip .4s ease-in-out;
}

@keyframes flip {
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}
